[ req ]
prompt = no
distinguished_name = dn
req_extensions = ext

[ dn ]
CN = www.server_isee.it
emailAddress = protocollo@server_isee.it
O = server
L = Roma
C = IT

[ ext ]
subjectAltName = DNS:www.server_isee.com,DNS:server_isee.com,DNS:*.server_isee.com